  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2a6fba;
    color: white;
    border: none;
  }

  button:hover {
    background-color: #357ab7;
    border: none;
  }