<div class="main-container">
  <div class="list-button" (click)="onNewCardClick()">
      <span class="button-text">+</span>
  </div>

  <div class="list-button" *ngFor="let card of cards">          
    <span class="button-text">{{ card.question }}</span>       
    <div class="action-icons">
      <i class="material-icons edit-icon" (click)="onEditCardInit(card); $event.stopPropagation()">edit</i>
      <i class="material-icons delete-icon" (click)="onClickDeleteCard(card.cardId); $event.stopPropagation()">delete</i>
    </div>
  </div>
</div>
