.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: auto;
  min-height: 500px;
  background-color: #f9f9f9;
  border: 2px solid #809cba;
  border-radius: 8px;
  padding: 10px;
}

.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  margin: 15px 0;
  background-color: #2a6fba;
  border-radius: 12px;
  cursor: pointer;
  transition: background-image 0.2s ease;
  width: 80%;
}

.list-button:hover {
  background-image: linear-gradient(to bottom, #357ab7, #357ab7);
}

.stack-list-container {
  overflow-y: auto;
  flex-grow: 1;
}

.button-text {
  font-size: 24px;
  font-weight: 400;
  color: white;
  flex-grow: 1;
}

.left-align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icons {
  display: flex;           
  gap: 8px;              
  flex-shrink: 0;  
}

.material-icons {
  font-size: 30px;
  color: #2c2c2c;
  cursor: pointer;
  transition: color 0.2s ease;
}

.material-icons:hover {
  color: #fbfafa;
}

.switch-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.label-text {
  padding: 5px;
  font-weight: 600;
}

.title{
  padding-left: 20%;
  font-size: 24px;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2a6fba;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2a6fba;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


