.main-container {
  display: flex;
  flex-direction: column;
   align-items: center;
  width: 400px; 
  background-color: #f9f9f9;
  border: 2px solid #809cba;
  border-radius: 8px;
  padding: 10px;
}

.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  margin: 10px 0;
  background-color: #2a6fba;
  border-radius: 12px;
  cursor: pointer;
  transition: background-image 0.2s ease;
  width: 80%;
}

.list-button:hover {
  background-image: linear-gradient(to bottom, #357ab7, #357ab7);
}

.stack-list-container {
  overflow-y: auto;
  flex-grow: 1;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
  flex-grow: 1;
}

.action-icons {
  display: flex;           
  gap: 8px;              
  flex-shrink: 0;  
}

.material-icons {
  font-size: 30px;
  color: #2c2c2c;
  cursor: pointer;
  transition: color 0.2s ease;
}

.material-icons:hover {
  color: #fbfafa;
}
