<div class="container">
    <div class="card-list">
        <app-card-list
        (openCardForm)="onOpenCardForm()"
        (openMultiCardForm)="openMultiCardForm()"
        ></app-card-list>
    </div>

    <div *ngIf="isGlobalFormVisible" class="global-overlay-container">
        <app-card-form
        (closeCardForm)="onCloseCardForm()"
        (closeMultiCardForm)="onCloseMultiCardForm()"
        [isCardFormVisible]="isCardFormVisible"
        [isMultiCardFormVisible]="isMultiCardFormVisible"
        ></app-card-form>
    </div>

    <div class="study-session">
        <app-daily-summary></app-daily-summary>
    </div>
    
   <div class="mode-selection-container">
        <div class="section-header">
            <p class="divider">Select stduy mode</p>
        </div>
        <div class="button-group">
            <app-input-mode-button></app-input-mode-button>
            <app-choice-mode-button></app-choice-mode-button>
        </div>
        <app-back-button style="margin: 30px 0px;"></app-back-button>
    </div>
</div>
