<div class="page-container">
    <div class="form-container">
        <h3>Login to creat your own flashcard</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input 
                id="email" 
                type="email" 
                class="form-control" 
                formControlName="email"
                placeholder="name@example.com"
                required 
                >
            </div>
    
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                id="password" 
                type="password" 
                class="form-control" 
                formControlName="password"
                autocomplete="off"
                required 
                >
            </div>
            <div class="button-container">
                <button type="submit">{{ 'login' }}</button>
            </div>              
        </form>
        <a>Don't have a account?</a>
        <a routerLink="/register"> Register now</a>
    </div>
</div>
