button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 32px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'WinkySans'
  }
  
  button[type="button"] {
    background-color: #e74c3c;
    color: white;
    border: none;
  }
  
  button[type="button"]:hover {
    background-color: #c0392b;
    border: none;
  }
  
  button:not([type="button"]) {
    background-color: #2ecc71;
    color: white;
    border: none;
  }
  
  button:not([type="button"]):hover {
    background-color: #27ae60;
    border: none;
  }