.back-icon {
  color: #2a6fba;       
  cursor: pointer;       
  transition: color 0.3s ease;  

  font-size: 48px;        
  font-weight: 400;        
  font-smooth: antialiased; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.back-icon:hover {
  color: #145a96;       
}