<div class="container">
    <div class="stack-list">
        <app-stack-list 
        (openAddDialog)="openAddForm()"
        (openEditDialog)="openEditForm()"
        ></app-stack-list>
    </div>

    <div *ngIf="isGlobalFormVisible" class="global-overlay-container">
        <app-stack-form
        (closeAddForm)="onCloseAddForm()"
        (closeEditForm)="onCloseEditForm()"
        [isAddFormVisible]="isAddFormVisible"
        [isEditFormVisible]="isEditFormVisible">
        ></app-stack-form>
    </div>

    <div class="study-session">
        <app-daily-summary></app-daily-summary>
    </div>

    <div class="button-group">
        <app-input-mode-button></app-input-mode-button>
        <app-choice-mode-button></app-choice-mode-button>
    </div>
</div>
  