<div class="main-container">
  <div class="list-button" (click)="onNewStackClick()">
      <span class="stack-name">+</span>
  </div>

  <div class="list-button" *ngFor="let stack of stacks" (click)="goToCardList(stack.stackId)">          
    <span class="stack-name">{{ stack.stackName }}</span>
    
    <div class="action-icons">
      <i class="material-icons edit-icon" (click)="onEditStackClick(stack); $event.stopPropagation()">edit</i>
      <i class="material-icons delete-icon" (click)="onDeleteStackClick(stack); $event.stopPropagation()">delete</i>
    </div>
  </div>
</div>
