.custom-confirm-dialog {
    display: flex;
    background-color: #f9f9f9; 
    border: 2px solid #809cba; 
    border-radius: 8px;
    top: 50%;          
    left: 50%;
    width: 60vw;
    height: 40vh;
    max-width: 400px;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 1100; 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(200, 200, 200, 0.5); 
display: flex;
justify-content: center;
align-items: center;
z-index: 1000; 
}

button {
margin-top: 10px;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
background-color: #2a6fba;
color: white;
border: none;
margin-left: 30px;
}

button:hover {
background-color: #357ab7;
border: none;
}
