.answers-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  gap: 3px;
}

.input {
  font-size: 1.5em; 
  padding: 12px 20px; 
  height: 100%; 
  width: 100%; 
  box-sizing: border-box; 
}

