<div *ngIf="isCardFormVisible" class="form-container">
  <h3>{{ editingCard ? 'Edit your card' : 'Create your card' }}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="question">Question</label>
      <input 
        type="text" 
        class="form-control"
        id="question" 
        type="text" 
        formControlName="question"
        required 
      />

      <div formArrayName="answers">
        <h4>Answers:</h4>
          <div *ngFor="let answerGroup of getAnswersFormArray().controls; let i = index" [formGroupName]="i">
            <input 
              type="text" 
              class="form-control"
              formControlName="answerText"
              required 
            />
            <input type="checkbox" formControlName="isCorrect">
            <label>Correct</label>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button type="submit">
        Confirm
      </button>
      <button type="button" (click)="onCloseCardForm()">
        Cancel
      </button>
    </div>
  </form>
</div>

<div *ngIf="isMultiCardFormVisible" class="multi-card-form-container">
  <label for="bulkImportTextarea" class="form-label">
    📥 Bulk Import Flashcards (Format: Question | Correct Answer | Option1,Option2,...)
  </label>
  <textarea 
    class="form-control" 
    id="bulkImportTextarea" 
    rows="8" 
    [(ngModel)]="bulkCard">
  </textarea>
  <div class="button-container">
    <button class="btn btn-primary mt-3" (click)="importBulkCards()">Import</button>
    <button class="btn btn-primary mt-3" (click)="onCloseMultiCardForm()">Cancel</button>
  </div>
</div>