.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  margin: 10px 0;
  background-color: #2a6fba;
  border: 4px solid #2a6fba; 
  border-radius: 12px;
  cursor: pointer;
  transition: background-image 0.2s ease;
  width: 80%;
}

.list-button:hover {
  background-image: linear-gradient(to bottom, #357ab7, #357ab7);
}
  
.answers-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3px;
}

