<div class="main-container">
  <div class="title">
    <h1>Choice your answer</h1>
  </div>

  <div class="score">
    <div class="score-content">
      <h2>Study Completed!</h2>
      <p>Your score is: </p>
    </div>
  </div>

  <div class="card-slot">
    <div class="flip-card">
      <div class="flip-card-inner" [ngClass]="{'flipped': isFlipped}">
        <div class="flip-card-front card-container">
          <h1>{{ currentCard?.question }}</h1>
          <button
            class="list-button"
            *ngFor="let answer of currentCard?.answers; let i = index"
            (click)="checkAnswer(answer)"
            [ngClass]="displayCorrectAnswer(answer)"
            [disabled]="answerChecked"
          >
            {{ answer }}
          </button>
        </div>
  
        <div class="flip-card-back card-container">
          <p>This is the back</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <button (click)="loadNextCard()">
    NEXT
  </button>

<div class="button-group">
  <app-back-button></app-back-button>
</div>






