.welcome-page-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto min-content auto;
    grid-template-areas:
    "sidebar text"
    "sidebar  mode-image"
    "sidebar mode-image";
    height: 80vh;
    margin-top: 60px;
}   

.welcome-page-container > div {
  padding: 20px 20px;
}

.sidebar {
    grid-area: sidebar;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.welcome-text {
    grid-area: text;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    text-align: center;
}

.mode-image {
    grid-area: mode-image;
    display: flex; 
    flex-direction: row ; 
    justify-content: center; 
    align-items: center; 
    gap: 30px;
}
       
.card-set-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    transition: background-image 0.2s ease;
    width: 60%;
  }
  
  .card-set-button:hover {
    background-image: linear-gradient(to bottom, #2a6fba, #357ab7);
  }

  .sidebar .card-set-button:nth-child(1) {
    background-color: hsl(220, 60%, 35%);
  }
  
  .sidebar .card-set-button:nth-child(2) {
    background-color: hsl(220, 60%, 45%);
  }
  
  .sidebar .card-set-button:nth-child(3) {
    background-color: hsl(220, 60%, 55%);
  }
  
  .sidebar .card-set-button:nth-child(4) {
    background-color: hsl(220, 60%, 65%);
  }
  
  .stack-name {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
  }

  .card-header {
    background-color: #2a6fba; 
    color: white; 
  }
  