.welcome-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto min-content auto;
  grid-template-areas:
  "text sidebar"
  "mode-image sidebar"
  "mode-image sidebar";
  height: 90vh;
  margin-top: 60px;
  padding: 40px 80px;
  box-sizing: border-box;
  position: relative;
}   

.sidebar {
  grid-area: sidebar;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.sidebar-image {
  position: absolute;
  top: 11%;
  left: 61%;
  transform: translateX(-50%);
  width: 300px;
  z-index: -2; 
  pointer-events: none; 
  display: block;
}

.welcome-text {
  grid-area: text;
  display: flex;
  height: auto;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start;    
  text-align: left;  
}

h1 {
  font-size: 80px; 
  font-weight: 700;
  text-align: left;  
}

h2.divider {
  position: relative; 
  display: inline-block; 
  font-size: 60px; 
  font-weight: 700;
  text-align: left; 
  margin: 5px 0 40px 0; 
  padding-bottom: 0.05em; 
  width: 100%;
  z-index: 10;
}

h2.divider::after{
  content: '';
  position: absolute;
  bottom: 0.001em; 
  left: 15%;
  height: 0.4em;
  width: 210px;
  background-color: rgb(200, 200, 200);
  z-index: -1;
}

p {
  margin-top: 20px;
  text-align: left;
}

.mode-image {
  grid-area: mode-image;
  display: flex; 
  flex-direction: row ; 
  justify-content: center;
  gap: 20px;
}
       
.card-set-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: background-image 0.2s ease;
  width: 60%;
}
  
.card-set-button:hover {
  background-image: linear-gradient(to bottom, #2a6fba, #357ab7);
}

.sidebar .card-set-button:nth-child(1) {
  background-color: hsl(220, 60%, 35%);
}

.sidebar .card-set-button:nth-child(2) {
  background-color: hsl(220, 60%, 45%);
}

.sidebar .card-set-button:nth-child(3) {
  background-color: hsl(220, 60%, 55%);
}

.sidebar .card-set-button:nth-child(4) {
  background-color: hsl(220, 60%, 65%);
}

.stack-name {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.card-header {
  background-color: #3673b5; 
  color: white; 
}

.card-body {
  width: auto;
  min-height: 100px; 
}

.flip-card {
  width: 25vw;
  height: 40px;
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.mode-image .card {
  border-radius: 10px;
  border: 4px solid #3673b5; 
  width: auto;
  height: auto;
}

.mode-image .card.correct-answer {
  border: 4px solid #80ba8b;
  animation: pulse 0.5s ease-in-out;
}

.mode-image .card.incorrect-answer {
  border: 4px solid #ba8080;
  animation: hithere 0.5s ease-in-out;
}

.card-header.correct-answer  {
  background-color: #80ba8b;
}

.card-header.incorrect-answer {
  background-color: #ba8080;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

#type-target {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.custom-delay {
  animation-delay: 2s;
}

@keyframes caret-blink {
  0%, 50% {
    caret-color: #0d6efd;
  }
  50.01%, 100% {
    caret-color: transparent;
  }
}

.ex-container {
  display: flex;
  gap: 10px;          
  justify-content: center; 
}

.rectangle {
  background-color: #2a6fba; 
  border-radius: 12px;       
  width: 70px;             
  height: 40px; 
  padding: 5px;
  display: flex;
  justify-content: center;  
  align-items: center;      
  color: white;
  font-size: 18px;
  user-select: none;         
  cursor: pointer;           
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.rectangle:hover {
  background-color: #1d4266; 
}

@keyframes hithere {
  20% { transform: rotate(-5deg); }
  40% { transform: rotate(5deg); }
  60% { transform: rotate(-3deg); }
  80% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

@keyframes pulse {
  0%   { transform: scale(0.9); }
  25%  { transform: scale(1.05); }
  50%  { transform: scale(0.95); }
  75%  { transform: scale(1.03); }
  100% { transform: scale(1.0); }
}

@media screen and (max-width: 600px) {
  .welcome-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "text"
      "sidebar"
      "mode-image";
    padding: 20px;
    height: auto;
    gap: 20px;
  }

  .welcome-text {
    align-items: center; 
    grid-area: text;
    text-align: center;
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }

  h2.divider {
    font-size: 40px; 
    text-align: center; 
  }

  h2.divider::after{
    left: 20%;
    width: 180px;
  }

  p {
    text-align: center;
  }

  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sidebar-image {
    display: none;
  }

  .mode-image {
    grid-area: mode-image;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-bottom: 150px;
  }

  .flip-card {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}
