<div class="welcome-page-container">
    <div class="sidebar">
      <div class="card-set-button">          
        <span class="stack-name">French</span>       
      </div>
      <div class="card-set-button">          
        <span class="stack-name">Math</span>       
      </div>
      <div class="card-set-button">          
        <span class="stack-name">English</span>       
      </div>
    </div>

    <div class="welcome-text">
      <h1 style="font-family: 'GreatVibes', cursive; font-size: 80px;">Hello World</h1>
    </div>

    <div class="mode-image">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
</div>