.welcome-page-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto min-content auto;
    grid-template-areas:
    "sidebar text"
    "sidebar  mode-image"
    "sidebar mode-image";
    height: 80vh;
    margin-top: 60px;
}   

.sidebar {
    grid-area: sidebar;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.welcome-text {
    grid-area: text;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    text-align: center;
}

.mode-image {
    grid-area: mode-image;
    display: flex; 
    flex-direction: row ; 
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    padding: 0 20px;
}
       
.card-set-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #2ecc71;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .card-set-button:hover {
    background-color: #27ae60;
  }

  .stack-name {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    flex-grow: 1;
  }

  .card-header {
    background-color: #2ecc71; 
    color: white; 
  }
  