<img src="assets/images/login-instruction.png" class="sidebar-image">
<div class="welcome-page-container">
    <div class="sidebar">
      <button class="card-set-button" (click)="goLogin()" style="box-shadow: 0 4px 6px rgba(0,0,0,0.3);">          
        <span class="stack-name">+</span>       
      </button>
      <div class="card-set-button">          
        <span class="stack-name">Biology</span>       
      </div>
      <div class="card-set-button">          
        <span class="stack-name">Mathematics</span>       
      </div>
      <div class="card-set-button">          
        <span class="stack-name">Chemistry</span>       
      </div>
    </div>

    <div class="welcome-text">
      <h1 class="animate__animated animate__fadeInLeft">The StudyAid</h1>
      <h2 class="divider animate__animated animate__fadeInLeft">just for you</h2>
      <p class="animate__animated animate__fadeInUp custom-delay" style="font-size: 30px;">Create your own flashcards and test yourself with various modes!</p>
    </div>


  <div class="mode-image">
    <div class="flip-card" (click)="flipInputCard()">
      <div class="flip-card-inner" [ngClass]="{'flipped': isInputFlipped}">

        <div class="flip-card-front">
          <div class="card">
            <div class="card-header">Input Mode</div>
            <div class="card-body">
              <h5 class="card-title">What is the capital of Belgium?</h5>
              <h1 id="type-target"></h1>
            </div>
          </div>
        </div>

        <div class="flip-card-back">
          <div class="card" [ngClass]="{'correct-answer': isInputCorrect}">
            <div class="card-header" [ngClass]="{'correct-answer': isInputCorrect}">Input Mode</div>
            <div class="card-body" style="display: flex; justify-content: center; align-items: center; text-align: center;">
              <h5 class="card-title">CORRECT!!</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner" [ngClass]="{'flipped': isChoiceFlipped}">

        <div class="flip-card-front">
          <div class="card">
            <div class="card-header">Choice Mode</div>
            <div class="card-body">
              <h5>What is the capital of Belgium?</h5>
              <div class="ex-container">
                <div class="rectangle" (click)="flipChoiseCard(1)">Bruges</div>
                <div class="rectangle" (click)="flipChoiseCard(2)">Ghent</div>
                <div class="rectangle" (click)="flipChoiseCard(3)">Liège</div>
                <div class="rectangle" (click)="flipChoiseCard(4)">Brussels</div>
              </div>
            </div>
          </div>
        </div>

        <div class="flip-card-back">
          <div class="card" 
              [ngClass]="{
              'correct-answer': isChoiseCorrect,
              'incorrect-answer': isChoiseIncorrect
            }">
            <div class="card-header"
            [ngClass]="{
              'correct-answer': isChoiseCorrect,
              'incorrect-answer': isChoiseIncorrect
            }">
              Choice Mode
            </div>
            <div class="card-body" style="display: flex; justify-content: center; align-items: center; text-align: center;">
              <h5>{{ isChoiseCorrect ? 'CORRECT!!' : 'WRONG' }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>